<!DOCTYPE html>

<head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="container col-md-5">
    <h1 class="row justify-content-center">Item <%= type %> Successfully!!</h1>
    <span class="row justify-content-center m-4"><a href="/"><button class="btn btn-primary" type="submit">Back to Dashboard</button></a></span>
</body>

</html>